# virtualenv ignores
.venv
env/

# Data ignores
data/*
!data/example-tweet-data.txt
!data/count_hashtags.txt
!data/hashtags.txt

# Latex ignores
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*blx.bib
*.run.xml
