body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.cover-wrapper {
    margin: 0 auto;
    text-align: center;
}

#tweet-btn {
    color: #fff;
    padding: 6px 12px;
}

#tweet-btn:hover {
    background-color: #3276B1;
}

#tweet-form {
    padding-top: 50px;
    text-align: right;
}

#tweet-box {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#tweet-char-countdown {
    float: left;
    font-size: 1.2em;
}

.grey { color: #aaaaaa; }
.red { color: #ca332f; }