body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.cover-wrapper {
    margin: 0 auto;
    text-align: center;
}

#tweet-btn {
    color: #fff;
    padding: 6px 12px;
}

#tweet-btn:hover {
    background-color: #3276B1;
}
