{% extends "default.html" %}

{% block title %}Stats - Clever Twit{% endblock %}

{% block content %}
    <h1>Stats</h1>

    <div id="stats">
        <b class="fa fa-refresh fa-spin"></b>
    </div>
{% endblock %}

{% block scripts %}
<script>
    function format(val) {
        if($.type(val) == "string") {
            val = val.replace(/_/g, " ");
            return val.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
        }
        else if($.type(val) == "number" && val % 1 != 0) {
            return val.toFixed(2);
        }
        return val;
    }

    function displayStats(data) {
        var stats = '';
        $.each(data, function(key, value) {
            var header = '<h2>' + format(key) + '</h2>';

            var table = '<table class="table table-hover">';

            table += '<thead>';
            table += '<th class="col-sm-2">Key</th>';
            table += '<th>Value</th>';
            table += '</thead>';

            table += '<tbody>';
            $.each(value, function(subkey, subvalue) {
                table += '<tr>';
                table += '<td>' + format(subkey) + '</td>';
                table += '<td>' + format(subvalue) + '</td>';
                table += '</tr>';
            });
            table += '</tbody>';

            table += '</table>';

            stats += header + table;
        });

        $('#stats').empty();
        $('#stats').append(stats);
    }

    $(document).ready(function() {
        $.ajax({
            type: "GET",
            url: "/api/status",
            success: displayStats
        });
    })
</script>
{% endblock %}
