{% extends "default.html" %}

{% block title %}New Tweet - Clever Twit{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    {% if posted %}
        <div class="row">
            <div class="alert alert-success">
                <strong>Tweeted!</strong> Your message was successfully posted.
            </div>
        </div>
    {% elif errors %}
        {% for error in errors %}
            <div class="row">
                <div class="alert alert-danger">
                    <strong>Ooops!</strong> {{ error }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <form id="tweet-form" action="{% url 'tweet' %}" method="post">
            {% csrf_token %}
            <textarea class="form-control" rows="4" id="tweet-box" name="status"></textarea>
            <span id="tweet-char-countdown"></span>
            <button type="submit" class="btn btn-success btn-lg" id="tweet-submit">Tweet</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var defaultText = "Compose new Tweet...";

    function addDefaultText() {
        if($("#tweet-box").val() == "") {
            $("#tweet-box").val(defaultText);
            $("#tweet-box").addClass("grey");
        }
    }

    function clearDefaultText() {
        if($("#tweet-box").val() == defaultText) {
            $("#tweet-box").val("");
            $("#tweet-box").removeClass("grey");
        }
    }

    function updateCountdown() {
        // 140 chars is the max for Twitter
        var remaining = 140 - $("#tweet-box").val().length;

        if($("#tweet-box").val() != defaultText && remaining != 140) {
            $("#tweet-char-countdown").text(remaining);
        }
        else {
            $("#tweet-char-countdown").text("140");
        }

        $("#tweet-char-countdown").toggleClass("red", remaining < 0);
        $("#tweet-char-countdown").toggleClass("grey", remaining >= 0);
        $("#tweet-submit").prop('disabled', remaining < 0);
    }

    $(document).ready(function() {

        addDefaultText();
        updateCountdown();
        $("#tweet-box").on("focus", clearDefaultText);
        $("#tweet-box").on("blur", addDefaultText);
        $("#tweet-box").on("input", updateCountdown);
    });
</script>
{% endblock %}
